{% extends "base.html" %}
{% block head %}
<!--<meta http-equiv="Content-Security-Policy" content="script-src https://accounts.google.com/gsi/client; frame-src https://accounts.google.com/gsi/; connect-src https://accounts.google.com/gsi/;">-->
<script src="https://accounts.google.com/gsi/client" async></script>
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>My Account</h1>
<section>
    {% if user.is_anonymous %}
    <p>You are not logged in. Please authenticate with Google.</p>
    <div
            id="g_id_onload"
            data-client_id="344287748721-uvjlsv8iul7a2f40eviipeknj4tpaea3.apps.googleusercontent.com"
            data-login_uri="{{ root }}/auth/callback"
            data-ux_mode="redirect"
    ></div>
    {% else %}
    <p>You are logged in as {{ user.email }}.</p>
    <form method="POST" action="/auth/logout">
        <button type="submit">Logout</button>
    </form>
    {% endif %}
</section>
{% endblock %}