{% extends "base.html" %}
{% block title %}Petty Matters{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <h1>Petty Matters</h1>
    </div>
    <div class="col">
        {% if !user.is_anonymous %}
        <a class="page-header-primary-button button" href="/petty-matters/register">File your petty matter</a>
        {% endif %}
    </div>
</div>
<section>
    {% if topics.items.len() == 0 %}
    <p>No Petty Matters registered</p>
    {% else %}
    <table>
        <thead>
        <tr>
            <td>Title</td>
            <td>Author</td>
            <td>Posted</td>
        </tr>
        </thead>
        <tbody>
        {% for topic in topics.items %}
        <tr>
            <td><a href="/petty-matters/{{ topic.id }}" preload="mouseover">{{ topic.title }}</a></td>
            <td>{{ topic.created_by }}</td>
            <td data-utcdate="{{ topic.creation_time.to_rfc3339() }}">{{ topic.creation_time.to_rfc3339() }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <div class="table-pagination-footer">
        {% if !topics.is_first_page() %}
        <a preload="mouseover"
           href="/petty-matters?page={{ topics.get_previous_page_number() }}&page_size={{ topics.size.0}}">
            <b><< Page {{ topics.get_previous_page_number() }}</b>
        </a>
        {% endif %}

        {% if topics.has_next_page() %}
        <a preload="mouseover"
           href="/petty-matters?page={{ topics.get_next_page_number() }}&page_size={{ topics.size.0}}">
            <b>Page {{ topics.get_next_page_number() }} >></b>
        </a>
    </div>
    {% endif %}
</section>
{% endblock %}