{% extends "base.html" %}
{% block title %}Petty Matters{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <h1>Petty Matters</h1>
    </div>
    <div class="col">
        <a class="page-header-primary-button button" href="/petty-matters/register">File your petty matter</a>
    </div>
</div>
<section>
    {% if topics.len() == 0 %}
    <p>No Petty Matters registered</p>
    {% else %}
    <table>
        <thead>
        <tr>
            <td>Title</td>
            <td>Posted</td>
        </tr>
        </thead>
        <tbody>
        {% for topic in topics %}
        <tr>
            <td><a href="/petty-matters/{{ topic.id }}" preload="mouseover">{{ topic.title }}</a></td>
            <td data-utcdate="{{ topic.creation_time.to_rfc3339() }}"></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</section>
{% endblock %}