{% extends "base.html" %}
{% block title %}{{topic.title}}{% endblock %}
{% block content %}

{% block head %}
<link rel="stylesheet" href="/assets/vendor/highlight_ascetic_theme.css">
<script nonce="{{nonce}}" src="/assets/vendor/highlight.min.js"></script>
{% endblock %}

<h1 class="post-page-title">{{ topic.title }}</h1>
<section>
    <h5 class="breadcrumbs"><a href="/petty-matters">Petty Matters</a> / {{ topic.title }}</h5>
    <p>{{ topic.content | markdown | safe }}</p>
</section>

<section class="comment-container">
    <details class="comment-box">
        <summary><h3>Add a comment</h3></summary>
        <form method="POST" action="/petty-matters/{{topic.id}}/comments">
            <label>
                Your comment
                <textarea required name="content" rows="4" cols="50" placeholder="Leave a comment..."></textarea>
            </label>
            <button tabindex="0" type="submit">Press Enter to comment</button>
        </form>
    </details>

    {% for comment in comments %}
    <div>
        <p><strong>{{ comment.created_by }}</strong> commented:</p>
        <p>{{ comment.content | markdown | safe }}</p>
        <p><small>Posted on <span data-utcdate="{{ comment.creation_time.to_rfc3339() }}">{{ comment.creation_time.to_rfc3339() }}</span></small></p>
    </div>
    {% endfor %}
</section>
<script nonce="{{nonce}}" >hljs.highlightAll();</script>

{% endblock %}