<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block csp %}
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'nonce-{{nonce}}'; img-src *; style-src 'self' https://fonts.googleapis.com  https://accounts.google.com/gsi/style; font-src https://fonts.gstatic.com; object-src 'none'; media-src 'none'; frame-src https://accounts.google.com/gsi/; connect-src 'self' https://accounts.google.com/gsi/; base-uri 'none'; form-action 'self';">
    {% endblock %}
    <title>{% block title %}{{ title }}{% endblock %} - Ministry of Petty Matters</title>
    {% block head %}{% endblock %}
    <link rel="icon" href="/assets/favicon.ico" sizes="any">
    <link rel="icon" href="/assets/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/assets/icon.png">
    <link rel="stylesheet" href="/assets/brutalism.css"/>
    <script nonce="{{nonce}}" src="/assets/htmx.js"></script>
    <script nonce="{{nonce}}" src="/assets/htmx-ext-preload.js"></script>
    {% block head %}{% endblock %}
</head>
<body hx-ext="preload" class="container">
<div id="content">
    {% block content %}<p>Placeholder content</p>{% endblock %}
</div>
<footer>
    <a href="/auth">My Account</a>
</footer>
<script nonce="{{nonce}}" src="/assets/app.js"></script>
</body>
</html>